body {
	max-width: 1920px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 15px;
}

body p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #8e8e8e;
}

body h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;	
	color: #131316;
	text-transform: uppercase;
}

.navbar-default {
	border: none;
	background-color: #fff;
}

.navbar-brand {
	height: auto;
	animation: navigation 3s ease;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	margin-top: 15px;
	animation: navigation_menu 3s ease;
}

.navbar-default .navbar-nav>li>a {
	border: 1px solid transparent;
	transition: all .4s ease;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #131316;
	border: 1px solid red;
}

@keyframes navigation {
	0% {
		opacity: 0;
		transform: translate(-300px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes navigation_menu {
	0% {
		opacity: 0;
		transform: translate(300px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

header {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	padding: 300px 0;
}

header h1, header h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #fff;	
}

header h1 {
	font-size: 55px;
	animation: header_text 5s ease;
}

@keyframes header_text {
	0% {
		font-size: 5px;
		opacity: 0;
	}
	100% {
		font-size: 55px;
		opacity: 1;
	}
}

header h2 {
	font-size: 22px;
	animation: header_text_2 5s ease;
}

@keyframes header_text_2 {
	0% {
		font-size: 2px;
		opacity: 0;
	}
	100% {
		font-size: 22px;
		opacity: 1;
	}
}

header .btn-success  {
	background-color: #fb6e52;
	border-radius: 0;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	padding: 20px 70px;
	margin-top: 70px;
	transition: all .3s ease;
	box-shadow: 0 14px 10px -10px rgba(251,110,82,.4);
	animation: header_btn 4s ease;
} 

.btn-success:hover,
header .btn-success:focus,
header .btn-success:active,
header .btn-success:visited {
	background-color: #fd684a !important;
	box-shadow: 0 24px 15px -20px rgba(251,110,82,.5),
	inset 0 0 10px 0 rgba(74,10,0,.8);
	outline: none !important;
	transform: translate(0, 3px);
}

.btn-success.active, 
.btn-success:active, 
.open>.dropdown-toggle.btn-success {
	border: none;
	background-color: #fd684a;
	outline: none;
}

@keyframes header_btn {
	0% {
		opacity: 0;
		transform: translate(0, -100px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

#design {
	padding: 92px 0;
}

#item .fa{
	color: #fa5c58;
	background-color: #121215;
	font-size: 35px;
	padding: 25px;
	border-radius: 50%;
	width: 85px;
	height: 85px;
}

#item .item {
	border: 1px dashed transparent;
	border-radius: 10px;
	cursor: pointer;
	padding-top: 15px;
	transition: all .5s ease;
}

#item .item:hover {
	border: 1px dashed #fd684a;
	box-shadow: 1px 1px 6px rgba(0,0,0,.3);
}

#team {
	padding: 140px 0 68px;
}

#team .team_item {
	position: relative;
	
}

#team .team_item:hover {
	box-shadow: 0 0 12px 0px rgba(0,0,0,.3);
}

#team .team_item > div {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7); 
	color: #fff;
	bottom: 0;
    left: 0;
}

#team .team_item > div:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transition: all .4s ease;
}

#team .team_item .fa,
footer .fa {
	color: #fff;
	font-size: 20px;
	padding: 10px;

}

#team .team_item p {
	color: #fff;
	padding: 28px 30px 5px;

}

.teams {
	margin-top: 95px;
}

footer .container-fluid {
	background-color: #000;
	padding: 85px 0;

}

footer p {
	color: #fff;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

footer li i:hover {
	color: #666;
	transition: all .25s linear;
}

#video {
	background-image: url(../img/video_bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 175px;
}
 
.play_video { 
	background-color: rgba(18,18,21,.7); 
	margin: 150px 0 180px;
	padding-top: 95px;
}

#video .play_video button {
	background-color: #fa5c58;
	border: none;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
}

#video .play_video button:hover {
	box-shadow: 0 1px 5px 0 rgba(251,110,82,.4), 
		inset 0 1px 5px 0 rgba(0,0,0,.3);	
	background-color: #f9645f;	
}

#video .play_video button:focus {
	outline: none;

}

#video .play_video h3 {
	color: #fff;
	margin-top: 44px;
}

#video .play_video p {
	color: #fff;
	padding-bottom: 92px;
}

#portfolio {
	margin-top: 140px;
}

#portfolio p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

#portfolio ul {
	margin: 95px 15px 5px;
}

#portfolio ul li {
	margin-bottom: 30px;
}

#portfolio ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #131316;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid #121215;
	padding: 10px 22px;
	transition: all .25s linear;
}

#portfolio ul li a:hover {
	background-color: #fa5c58;
	color: #fff;
	border: 1px solid transparent;
}

#portfolio .item {
	padding: 0;
	position: relative;
	cursor: pointer;
	
}

#portfolio .overlay {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: rgba(18,18,21,.8);
	transition: all .6s ease;
	
}

#portfolio .item:hover .overlay {
	opacity: 1;
	visibility: visible;
}

#portfolio .overlay h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}

#portfolio .overlay h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fb5d59;
	font-size: 15px;
}

#portfolio .overlay > div {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

#blog {
	background-image: url(../img/blog_bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(18,18,21,.8);
	background-blend-mode: multiply;
	background-position: center center;
	margin-bottom: 85px;
}

#blog h3 {
	margin-top: 92px;
	color: #fff;
}

#blog p {
	color: #fff;
	margin-bottom: 98px;
}

.blog_item {
	position: relative;
	padding: 0;
	background-color: #121215;
	margin-bottom: 208px;
	cursor: pointer;
	padding-bottom: 15px;
}

.blog_item:hover .test{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 21px 0 rgba(251,110,82,.9);
	transition: all .25s linear;
}


#blog .blog_item h3 {
	color: #fb5d59;
	font-size: 20px;
	margin: 65px 52px;
}

#blog .blog_item p {
	color: #fff;
	margin: 0 52px;
}

#blog .blog_item h5 {
	margin-top: 60px;
}

#blog .blog_item a {
	margin-right: 40px;
	color: #fb5d59;
	text-transform: capitalize;
	text-decoration: none;
}


#contact form {
	margin-top: 95px;
}

#contact form .row {
	margin: 18px 0;
}

#contact form input,
#contact form textarea {
	background-color: #f3f3f3;
	border: none;
	border-radius: 0;
	font-size: 15px;
	color: #8e8e8e;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contact form input:focus,
#contact form textarea:focus {
	box-shadow: 0 0 3px rgba(251,110,82,.9);
}

#contact form textarea {
	padding-top: 12px;
}

#contact form input[type="submit"] {
	background-color: #fa5c58;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 15px 0;
}

#top_buttom {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #999;
	bottom: 40px;
	right: 40px;
	border-radius: 50%;
	font-size: 25px;
	cursor: pointer;
	background-color: transparent;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	border: 1px solid #fa5c58;
	transition: all .3s linear;
	animation: top_btn 10s ease;
}

#top_buttom:hover {
	background-color: #fa5c58;	
}

#top_buttom:hover a {
	color: #fff;
}

#top_buttom a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fa5c58;
}

@keyframes top_btn {
	0% {
		opacity: 0;
		transform: translate(50px, 0);
	}
	80% {
		opacity: 0;
		transform: translate(50px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


@media screen and (max-width: 768px) {
	header {
		padding: 100px 0;
	}
	header h1 {
		font-size: 35px;
	}
}

@media screen and (max-width: 1023px) {
	#item .item {
		margin-bottom: 50px;
	}
	.blog_item {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 426px) {
	header h1 {
		font-size: 25px;
	}
	header h2 {
		font-size: 15px;
	}
	#item .item {
		margin: 40px 0;
	}
	.teams .img-responsive {
		margin-right:  0;
	}
	.team_item {
		margin-bottom: 35px;
	}
	#contact form input[type='mail'] {
		margin-top: 18px;
	}
	footer .container-fluid {
		padding: 30px 0;
	}
	#top_buttom {
		bottom: 10px;
		right: 10px;
		font-size: 15px;
		width: 40px;
		height: 40px;
	}

}

@media screen and (max-width: 320px) {
	#top_buttom {
		display: none;
	}
}